{% extends 'base.html.twig' %}

{% block title %}Abstract factory{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Pick training plan</h1>

    <ul>
        <li>
            <a href="{{ path('abstractFactoryType', {'factoryName': constant('App\\Enum\\FactoryTypeEnum::MUSCLE_GAIN')}) }}">
                Muscle gain
            </a>
        </li>
        <li>
            <a href="{{ path('abstractFactoryType', {'factoryName': constant('App\\Enum\\FactoryTypeEnum::WEIGHT_LOSS')}) }}">
                Weight loss
            </a>
        </li>
    </ul>

</div>
{% endblock %}
